/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Table Styles */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background: #fff;
}

thead {
    background-color: #009879;
    color: #fff;
}

thead th {
    padding: 12px 15px;
    text-transform: uppercase;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody td {
    padding: 12px 15px;
    text-align: center;
}

/* Add Borders to Table */
table, th, td {
    border: 1px solid #ccc;
}
